.home {
    background-color: lightblue;
}

.white-panel  {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(230, 230, 230, 1));
    height: 60vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
    overflow: hidden;
}

.blue-panel {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(0, 97, 206, 1));
    min-height: 50%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
    overflow: hidden;
}

.float-child {
    width: 50%;
    height: 60vh;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.full-panel {
    width: 75%;
    height: 60vh;
    float: left;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
}

.text, .quote-box {
    text-align: left;
    font-size: 2vh;
}

.quote-box {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-style: italic;
    background-color: lightgray;
}

.subtitle {
    text-align: left;
    font-size: 4vh;
}