.banner {
  background-image: url("../imgs/banner.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 200px;
}
.banner-text {
    color: white;
    width: calc(50% - 200px);
    margin-left: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
}